.welcome {
    position: relative;
}

.welcome>div:first-of-type {
    background-color: #eee;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome div:first-of-type img {
    max-width: 80%;
}

.welcome .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: -28px;
    margin-left: 16px;
}

.welcome .more-info {
    margin: 20px 0px;
    display: flex;
    border: solid 1px;
    border-color: #eee transparent;
}

.welcome .more-info>div {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 17px;
    flex: 1;
    text-transform: capitalize;
}

.welcome .more-info span {
    font-size: 14px;
    color: #aaa;
}

.welcome a {
    color: white;
    background-color: var(--blue-color);
    padding: 5px 9px;
    width: fit-content;
    border-radius: 6px;
    margin: 0 20px 10px auto;
    text-transform: capitalize;
}

.year-targets {
    padding: 20px;
}

.year-targets h3+span {
    color: #aaa;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
}

.year-targets article {
    display: flex;
    flex-flow: column wrap;
}

.year-targets article>div {
    display: inherit;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.year-targets div.info {
    flex: 1;
}

.year-targets i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    width: 70px;
    aspect-ratio: 1;
    color: white;
}

.year-targets .progress-bar {
    width: 100%;
    height: 5px;
    position: relative;
    background-color: #eee;
}

.year-targets h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.year-targets .progress-bar>span {
    position: absolute;
    inset: 0;
    height: 100%;
    background-color: var(--blue-color);
}

.year-targets .progress-bar>span>span {
    position: absolute;
    bottom: 13px;
    right: -17px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
    background-color: var(--blue-color);
}

.year-targets .progress-bar>span>span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: var(--blue-color);
}

.tasks {
    padding: 20px;
}

.tasks h3 {
    margin-bottom: 20px;
}

.tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #eee;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
}

.tasks .task.rejected {
    text-decoration: line-through;
    opacity: .6;
}

.tasks .task h4 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.tasks .task i {
    cursor: pointer;
    transition: .3s;
}

.tasks .task i:hover {
    color: red;
}
.projects {
    padding: 20px;
}
.projects h3  {
    margin-bottom: 20px;
}
.project {
    width: 48%;
    display: inline-block;
    padding: 20px;
    border: solid 1px #eee;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-bottom: 10px;

}
.projects .project:nth-of-type(odd) {
    margin-right: 1%;
}
.project h4 {
    font-size: 30px;

}
.project span {
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
    background-color: black;
}
.table {
    padding: 20px;
    overflow-x: scroll;
    margin-inline: 20px;
}

.table h3 {
    margin-bottom: 20px;
}

table {
    min-width: 120%;
    border-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}

table th {
    background-color: #eee;
}

table td {
    border: solid 1px #eee;
    border-color: transparent #eee #eee;
}

table td,
table th {
    padding: 15px;
}

table span {
    color: white;
    border-radius: 9px;
    font-size: 13px;
    padding: 3px 5px;
}

span.completed,
.project.completed {
    background-color: var(--green-color);
}

span.rejected ,
.project.rejected{
    background-color: var(--red-color);
}

span.in-progress,
.project.in-progress {
    background-color: var(--blue-color);
}

span.pending ,
.project.pending {
    background-color: var(--orange-color);
}