#add {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
#add i {
    font-size: 20px;
}
main section {
    margin-inline: 20px;
    padding: 20px;
   
}
.responsive-table {
     overflow-x: auto;
}
table {
    min-width: 140%;
    border-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
}
table tr {
    transition: .3s ;
}
table tr:hover {
    background-color: var(--grey-color);
}
table th {
    background-color: #eee;
}

table td {
    border: solid 1px #eee;
    border-color: transparent #eee #eee;
}

table td,
table th {
    padding: 10px;
}

table span {
    color: white;
    border-radius: 9px;
    font-size: 13px;
    padding: 3px 5px;
}

table span.completed {
    background-color: var(--green-color);
}

table span.rejected {
    background-color: var(--red-color);
}

table span.in-progress {
    background-color: var(--blue-color);
}

table span.pending {
    background-color: var(--orange-color);
}

td.icons {
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
td.icons i {
    background-color: transparent;
    cursor: pointer;
}

form {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    margin-inline: 20px;
    border-radius: 10px;
    z-index: 2;
    width: 300px;
    height: fit-content;
    flex-flow: column wrap;
    display: none;
}

form .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .flex i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    padding: 10px;
}

form .flex i:hover {
    background-color: var(--red-color);
    color: white;
}

form div:not(.flex) {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10px;
}
form div.stat {
    background-color: #eee;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(47% , 1fr));
    gap: 10px;
    padding: 10px;
}
form .stat > div {
    border: 1px solid;
    border-radius: 6px;
    text-align: center;
}
form label {
    text-transform: capitalize;
}
form label span {
    color: var(--red-color);
}

form input {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: var(--blue-alt-color);
}

form input::placeholder {
    color: blanchedalmond;
}

form input:disabled {
    color: white;
    background-color: black;
    cursor: not-allowed;
}

form button {
    color: white;
    background-color: var(--orange-color);
    width: fit-content;
    margin: 10px 20px 0px auto;
    padding: 5px 9px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}